<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <review>
            <configurable_products>
                <allow_attaching_review_to_simple_products>0</allow_attaching_review_to_simple_products>
                <show_variant_on_configurable_review>0</show_variant_on_configurable_review>
                <allow_reviewing_simple_products_from_configurable_view>0</allow_reviewing_simple_products_from_configurable_view>
            </configurable_products>
            <share_between_stores>
                <is_enabled>0</is_enabled>
            </share_between_stores>
        </review>
    </default>
</config>
