<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="review" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Review</label>
            <tab>magesuite</tab>
            <resource>MageSuite_Review::config_review</resource>
            <group id="configurable_products" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Configurable Products</label>
                <field id="allow_attaching_review_to_simple_products" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Allow attaching reviews to simple product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled it will be possible to add review to a child product of a configurable.]]></comment>
                </field>
                <field id="show_variant_on_configurable_review" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Show variant on configurable product review</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled it will show from which specific variant (simple product) review comes from on configurable product view reviews list.]]></comment>
                </field>
                <field id="allow_reviewing_simple_products_from_configurable_view" translate="label" type="select" sortOrder="30" showInDefault="1">
                    <label>Allow reviewing simple products from configurable product view</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled it will add swatches in configurable product review form, allowing to review specific product variant directly from configurable product view.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
